
<div class="diary">
    <h1>Страница дневника</h1>
</div>

@section scripts{
    <script type="text/babel" src="~/js/DiaryReact/datepicker.js"></script>
    <script type="text/babel" src="~/js/DiaryReact/entry.js"></script>
    <script type="text/babel" src="~/js/DiaryReact/sheet.js"></script>
    <script type="text/babel" src="~/js/DiaryReact/diary.js"></script>
}