<div id="login">

</div>

@section scripts{
    <script type="text/babel" src="~/js/ValidationReact/validation.js"></script>
    <script type="text/babel" src="~/js/AccountReact/login.js"></script>
}
