
<div id="register">

</div>

@section scripts{
    <script type="text/babel" src="~/js/ValidationReact/validation.js"></script>
    <script type="text/babel" src="~/js/AccountReact/register.js"></script>
}