<div id="head">
    
</div>

<div class="profile_menu hide">
    
</div>

<div class="notification">
    
</div>

<div class="settings_body">
    
</div>

@section scripts{
    <script src="~/js/HeaderReact/menu.jsx"></script>
    <script src="~/js/HeaderReact/profile_menu.jsx"></script>
    <script src="~/js/NotificationReact/notification.jsx"></script>
    <script src="~/js/AccountReact/settings.jsx"></script>
}