<div id="head-menu">
    
</div>

<div class="settings_body">
    
</div>

@section scripts{
    <script type="text/babel" src="~/js/HeaderReact/profile_menu.js"></script>
    <script type="text/babel" src="~/js/HeaderReact/menu.js"></script>
    <script type="text/babel" src="~/js/ValidationReact/validation.js"></script>
    <script type="text/babel" src="~/js/NotificationReact/notification.js"></script>
    <script type="text/babel" src="~/js/AccountReact/settings.js"></script>
}