@charset "UTF-8";
@import url(../lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css);
@import url(../lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css);
@import url(../lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css);
@media (max-width: 767px) {
  .login-form, .register-form {
    width: 320px !important;
    height: 350px !important; }
    .login-form .validation, .register-form .validation {
      margin: 15px 0 !important; }
    .login-form h1, .register-form h1 {
      font-size: 26px !important;
      margin-bottom: 30px !important; }
    .login-form .back, .register-form .back {
      width: 20px !important;
      height: 20px !important; }
      .login-form .back i, .register-form .back i {
        border-width: 0 2px 2px 0 !important;
        display: inline-block !important;
        padding: 3px !important; }
    .login-form .data-field input, .register-form .data-field input {
      width: 250px !important;
      margin-bottom: 18px !important; }
    .login-form .login-button input, .login-form .register-button input, .register-form .login-button input, .register-form .register-button input {
      width: 100px !important;
      font-size: 14px !important;
      margin: 17px auto !important; }
  .recovery-form {
    width: 300px !important; }
    .recovery-form .back {
      width: 20px !important;
      height: 20px !important; }
      .recovery-form .back i {
        border-width: 0 2px 2px 0 !important;
        display: inline-block !important;
        padding: 3px !important; }
    .recovery-form h1 {
      font-size: 26px !important; }
    .recovery-form .data-field input {
      width: 250px !important; }
    .recovery-form .recovery-button input {
      width: 150px !important;
      height: 40px !important;
      font-size: 14px !important; } }

.login-form h1 {
  color: #415EED;
  text-align: center;
  font-size: 36px;
  margin: 40px 0 50px 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: default; }

.login-form h1.error {
  margin: 40px 0 0 0; }

.register-form .back {
  margin: 10px 0 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background: #415EED;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  .register-form .back i {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px; }
  .register-form .back .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg); }
  .register-form .back:hover {
    background: #ffffff; }
    .register-form .back:hover i {
      border: solid #415EED;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 5px; }

.register-form h1 {
  color: #415EED;
  text-align: center;
  font-size: 36px;
  margin: 10px 0 50px 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: default; }

.register-form h1.error {
  margin: 10px 0 0 0; }

.login-form, .register-form {
  font-family: Roboto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 430px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; }
  .login-form .data-field, .register-form .data-field {
    text-align: center; }
    .login-form .data-field input, .register-form .data-field input {
      width: 300px;
      height: 35px;
      border: 1px solid #415EED;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      color: #415EED;
      margin-bottom: 20px;
      outline: none;
      font-size: 14px;
      padding: 0 8px; }
    .login-form .data-field .error, .register-form .data-field .error {
      border: 1px solid #ff0000; }
  .login-form .link-area, .register-form .link-area {
    text-align: center; }
    .login-form .link-area a, .register-form .link-area a {
      color: #415EED;
      margin: 0 auto;
      text-decoration: none;
      text-align: center; }
      .login-form .link-area a:hover, .register-form .link-area a:hover {
        border-bottom: 1px solid #415EED; }
    .login-form .link-area .recovery-link, .register-form .link-area .recovery-link {
      font-size: 14px; }
    .login-form .link-area .register-link, .register-form .link-area .register-link {
      font-size: 18px; }
  .login-form .login-button, .login-form .register-button, .register-form .login-button, .register-form .register-button {
    text-align: center; }
    .login-form .login-button input, .login-form .register-button input, .register-form .login-button input, .register-form .register-button input {
      width: 150px;
      height: 40px;
      background: #415EED;
      border-radius: 10px;
      margin: 35px auto;
      color: #fff;
      outline: none;
      border: none;
      font-size: 24px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer; }
      .login-form .login-button input:hover, .login-form .register-button input:hover, .register-form .login-button input:hover, .register-form .register-button input:hover {
        color: #415EED;
        background: #fff; }
  .login-form .validation, .register-form .validation {
    text-align: center;
    margin: 24px 0;
    color: #ff0000; }

.recovery-form {
  font-family: Roboto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 270px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; }
  .recovery-form .back {
    margin: 10px 0 20px 10px;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background: #415EED;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer; }
    .recovery-form .back i {
      border: solid white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 5px; }
    .recovery-form .back .left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg); }
    .recovery-form .back:hover {
      background: #fff; }
      .recovery-form .back:hover i {
        border: solid #415EED;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 5px; }
  .recovery-form h1 {
    color: #415EED;
    text-align: center;
    font-size: 36px;
    margin: 10px 0 40px 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: default; }
  .recovery-form h1.error {
    margin: 10px 0 0 0; }
  .recovery-form .data-field {
    text-align: center; }
    .recovery-form .data-field input {
      width: 400px;
      height: 35px;
      border: 1px solid #415EED;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      color: #415EED;
      margin-bottom: 20px;
      outline: none;
      font-size: 14px;
      padding: 0 8px; }
    .recovery-form .data-field .error {
      border: 1px solid #ff0000; }
  .recovery-form .recovery-button {
    text-align: center; }
    .recovery-form .recovery-button input {
      width: 270px;
      height: 40px;
      background: #415EED;
      border-radius: 10px;
      margin: 15px auto;
      color: #fff;
      outline: none;
      border: none;
      font-size: 24px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer; }
      .recovery-form .recovery-button input:hover {
        color: #415EED;
        background: #fff; }
  .recovery-form .validation {
    text-align: center;
    margin: 15px 0;
    color: #ff0000; }

@media (max-width: 1350px) {
  body.lock {
    overflow: hidden; }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-top: 0;
    z-index: 3;
    transition: all 0.3s ease 0s; }
  .header_burger::before,
  .header_burger::after {
    content: '';
    background-color: #415EED;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s; }
  .header_burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #415EED; }
  .header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #415EED; }
  .header_burger.active span {
    transform: scale(0); }
  .header_burger::before {
    top: 0; }
  .header_burger span {
    position: absolute;
    background-color: #415EED;
    width: 100%;
    height: 2px;
    top: 9px; }
  .header_burger::after {
    bottom: 0; }
  .header_menu {
    position: fixed;
    top: -1000%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #415EED;
    transition: all 0.3s ease 0s; }
  .header_menu.active {
    top: 0; }
  .header_list {
    display: flex;
    flex-direction: column;
    width: 90% !important;
    margin: 130px auto 0 auto;
    align-items: flex-start !important;
    color: #fff !important; }
    .header_list a {
      color: #fff !important; }
      .header_list a:hover {
        font-size: 28px; }
    .header_list li {
      margin-bottom: 30px; } }

@media (max-width: 850px) {
  .header_body {
    height: 50px !important; }
    .header_body .header_profile {
      padding: 10px !important;
      font-size: 16px !important; }
    .header_body .header_list {
      margin-top: 80px; }
    .header_body .search input {
      height: 30px !important; }
    .header_body .search button {
      height: 34px !important;
      width: 34px !important; } }

.content {
  margin-top: 100px; }

#head-menu {
  font-family: Roboto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; }
  #head-menu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2; }
  #head-menu .header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center; }
    #head-menu .header_body .header_profile {
      cursor: pointer;
      z-index: 3;
      border-radius: 10px;
      padding: 15px;
      background-color: #415EED;
      color: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 20px; }
      #head-menu .header_body .header_profile:hover {
        background-color: #fff;
        color: #415EED; }
    #head-menu .header_body .search {
      z-index: 3;
      width: 50%;
      display: flex;
      justify-content: center; }
      #head-menu .header_body .search input {
        color: #415EED;
        border-radius: 10px 0 0 10px;
        border: 1px solid #415EED;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        height: 36px;
        width: 60%;
        max-width: 300px;
        outline: none;
        padding-left: 5px; }
      #head-menu .header_body .search button {
        background-color: #415EED;
        color: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0 10px 10px 0;
        border: 1px solid #415EED;
        height: 40px;
        width: 40px;
        outline: none;
        cursor: pointer; }
    #head-menu .header_body .header_burger_menu .header_menu .header_list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 700px;
      font-size: 24px;
      position: relative;
      z-index: 3; }
      #head-menu .header_body .header_burger_menu .header_menu .header_list a {
        text-decoration: none;
        color: #415EED; }
        #head-menu .header_body .header_burger_menu .header_menu .header_list a:hover {
          border-bottom: 3px solid #415EED; }
      #head-menu .header_body .header_burger_menu .header_menu .header_list .hide {
        display: none !important; }
      #head-menu .header_body .header_burger_menu .header_menu .header_list .logo {
        background-color: #415EED;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center; }
        #head-menu .header_body .header_burger_menu .header_menu .header_list .logo a:hover {
          border-bottom: none; }
        #head-menu .header_body .header_burger_menu .header_menu .header_list .logo img {
          width: 30px;
          height: 30px; }

.notification.active {
  right: 5%;
  transition: all 0.3s ease 0s; }

.notification {
  font-family: Roboto;
  position: fixed;
  width: auto;
  top: 100px;
  right: -1000%;
  z-index: 20;
  color: #415EED;
  font-size: 20px; }
  .notification:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    border-radius: 10px; }
  .notification .notification_content {
    position: relative;
    z-index: 3;
    width: 200px;
    padding: 10px;
    word-wrap: break-word; }
    .notification .notification_content .body {
      font-size: 16px; }
    .notification .notification_content .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 26px;
      margin-bottom: 15px; }
      .notification .notification_content .header .close {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #415EED;
        border-radius: 25px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer; }
        .notification .notification_content .header .close h4 {
          color: #fff;
          padding: 5px;
          height: 17px;
          width: 17px;
          font-size: 20px; }
        .notification .notification_content .header .close:hover {
          background-color: #fff; }
          .notification .notification_content .header .close:hover h4 {
            color: #415EED; }

@media (max-width: 850px) {
  .profile_menu {
    top: 70px !important; } }

.profile_menu.hide {
  display: none !important; }

.profile_menu {
  font-family: Roboto;
  position: fixed;
  width: auto;
  top: 100px;
  right: 5%;
  z-index: 50;
  color: #415EED;
  font-size: 20px; }
  .profile_menu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    border-radius: 10px; }
  .profile_menu .profile_menu_body {
    position: relative;
    z-index: 3; }
    .profile_menu .profile_menu_body .settings {
      border-radius: 10px 10px 0 0; }
    .profile_menu .profile_menu_body .logout {
      border-radius: 0 0 10px 10px; }
    .profile_menu .profile_menu_body .profile_menu_button {
      display: flex;
      justify-content: start;
      align-items: center;
      cursor: pointer;
      padding: 10px; }
      .profile_menu .profile_menu_body .profile_menu_button .settings-img {
        background: url("../images/settings.png"); }
      .profile_menu .profile_menu_body .profile_menu_button .logout-img {
        background: url("../images/logout.png"); }
      .profile_menu .profile_menu_body .profile_menu_button .img {
        width: 25px;
        height: 25px;
        background-size: 25px;
        margin-right: 15px; }
      .profile_menu .profile_menu_body .profile_menu_button:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

@media (max-height: 450px) {
  .settings_content.active {
    margin-top: 80px !important; } }

.settings_content {
  font-family: Roboto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px; }
  .settings_content .validation {
    text-align: center;
    margin: 15px 0;
    color: #ff0000; }
  .settings_content .account-data {
    display: flex;
    margin: 30px 20px 30px 20px;
    color: #415EED;
    font-size: 24px; }
  .settings_content .account-data.error {
    margin: 30px 20px 0 20px; }
  .settings_content .button-1.hide {
    display: none; }
  .settings_content .button-1 {
    margin-left: 20px;
    cursor: pointer; }
    .settings_content .button-1 h3 {
      background-color: #415EED;
      color: #fff;
      padding: 10px;
      border-radius: 10px;
      font-size: 20px;
      text-align: center;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
      .settings_content .button-1 h3:hover {
        background-color: #fff;
        color: #415EED; }
  .settings_content .change_body.hide {
    display: none; }
  .settings_content .change_body {
    margin-bottom: 20px; }
  .settings_content .data-field {
    margin-left: 20px; }
    .settings_content .data-field input {
      width: 260px;
      height: 35px;
      border: 1px solid #415EED;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      color: #415EED;
      margin-bottom: 20px;
      outline: none;
      font-size: 14px;
      padding: 0 8px; }
    .settings_content .data-field .error {
      border: 1px solid #ff0000; }
  .settings_content .buttons {
    display: flex;
    justify-content: space-between;
    cursor: pointer; }
    .settings_content .buttons .button-2 {
      margin-right: 20px; }
      .settings_content .buttons .button-2 h3 {
        background-color: #fff;
        color: #415EED;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
        .settings_content .buttons .button-2 h3:hover {
          background-color: #415EED;
          color: #fff; }
    .settings_content .buttons .confirm {
      width: 150px; }
    .settings_content .buttons .cancel {
      width: 100px;
      border: 1px solid #415EED;
      border-radius: 10px; }
      .settings_content .buttons .cancel:hover {
        border: 1px solid #fff; }
  .settings_content .change {
    margin-bottom: 20px;
    margin-right: 20px; }

@media (max-width: 850px) {
  .diary .sheet {
    margin: 30px auto !important;
    width: 100% !important;
    height: 500px !important; }
  .diary .datepicker-area {
    margin-top: 80px !important; }
  .diary .diary-add-area {
    width: 100% !important; }
  .diary .edit-info {
    width: 100% !important;
    display: flex;
    justify-content: space-between !important;
    margin: 5px auto; }
  .diary .info {
    width: 100% !important;
    display: flex;
    justify-content: space-between !important;
    margin: 5px auto; } }

.diary {
  border-radius: 10px;
  font-family: Roboto; }
  .diary .datepicker-area {
    justify-content: center;
    margin-top: 120px; }
  .diary .info {
    width: 48%;
    display: flex;
    justify-content: space-between;
    color: #ff0000;
    margin: 0 auto 15px auto; }
    .diary .info .cancel {
      cursor: pointer;
      color: #415EED; }
      .diary .info .cancel:hover {
        border-bottom: 1px solid #415EED; }
  .diary .info.hide {
    display: none; }
  .diary .edit-info {
    width: 48%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 15px auto;
    color: #415EED; }
    .diary .edit-info .cancel {
      cursor: pointer; }
      .diary .edit-info .cancel:hover {
        border-bottom: 1px solid #415EED; }
  .diary .edit-info.hide {
    display: none; }
  .diary .sheet {
    margin: 20px auto;
    width: 50%;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow-y: scroll;
    word-wrap: break-word;
    color: #415EED;
    font-size: 20px; }
    .diary .sheet .empty {
      text-align: center;
      margin: 30px; }
    .diary .sheet .entry.active {
      border-radius: 10px; }
      .diary .sheet .entry.active .entry-head {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .diary .sheet .entry.active .entry-head .actions {
          display: flex; }
    .diary .sheet .entry {
      margin: 25px 20px 20px 20px;
      padding: 5px; }
      .diary .sheet .entry .entry-head {
        display: flex;
        margin-bottom: 20px;
        height: 29px;
        font-weight: bolder;
        justify-content: start;
        align-items: center; }
        .diary .sheet .entry .entry-head .actions {
          display: none; }
          .diary .sheet .entry .entry-head .actions .button {
            background-color: #415EED;
            border-radius: 25px;
            padding: 7px;
            cursor: pointer;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
            .diary .sheet .entry .entry-head .actions .button .edit-icon {
              background: url("../images/pen-white.png");
              width: 12px;
              height: 12px;
              background-size: 12px; }
            .diary .sheet .entry .entry-head .actions .button .delete-icon {
              width: 12px;
              height: 12px;
              background: url("../images/trash-white.png");
              background-size: 12px; }
            .diary .sheet .entry .entry-head .actions .button:hover {
              background-color: #fff; }
              .diary .sheet .entry .entry-head .actions .button:hover .edit-icon {
                background: url("../images/pen.png");
                background-size: 12px; }
              .diary .sheet .entry .entry-head .actions .button:hover .delete-icon {
                background: url("../images/trash.png");
                background-size: 12px; }
          .diary .sheet .entry .entry-head .actions .edit {
            margin-right: 10px; }
  .diary .diary-add-area {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto 30px auto; }
    .diary .diary-add-area .text {
      width: 100%;
      font-size: 14px;
      color: #415EED;
      padding: 8px;
      border-radius: 10px;
      border-color: #415EED;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      outline: none;
      resize: none; }
    .diary .diary-add-area .add-obj-button {
      background-color: #fff;
      border-radius: 10px;
      margin: 0 5px;
      cursor: pointer;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      padding: 10px; }
      .diary .diary-add-area .add-obj-button .file-icon {
        width: 30px;
        height: 30px;
        background-size: 30px !important;
        background: url("../images/img.png"); }
      .diary .diary-add-area .add-obj-button:hover {
        background-color: #415EED; }
        .diary .diary-add-area .add-obj-button:hover .file-icon {
          background: url("../images/img-white.png"); }
    .diary .diary-add-area .send-button {
      background-color: #fff;
      border-radius: 10px;
      margin: 0 5px;
      cursor: pointer;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      padding: 10px; }
      .diary .diary-add-area .send-button .send-icon {
        width: 30px;
        height: 30px;
        background-size: 30px !important;
        background: url("../images/send.png"); }
      .diary .diary-add-area .send-button:hover {
        background-color: #415EED; }
        .diary .diary-add-area .send-button:hover .send-icon {
          background: url("../images/send-white.png"); }

@media (max-width: 900px) {
  .content-schedules {
    width: 100% !important; } }

@media (max-width: 550px) {
  .content-schedules {
    width: 100% !important; }
    .content-schedules .add-schedule {
      display: block !important;
      text-align: center; }
      .content-schedules .add-schedule .time {
        margin-bottom: 15px; }
      .content-schedules .add-schedule input[type=text] {
        width: 95% !important;
        margin-bottom: 15px; }
      .content-schedules .add-schedule .add-button {
        margin-left: 0 !important; } }

.schedules {
  color: #415EED;
  font-family: Roboto; }
  .schedules .content-schedules {
    margin: 20px auto;
    width: 60%;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    word-wrap: break-word;
    font-size: 20px; }
    .schedules .content-schedules .validation {
      text-align: center;
      margin: 15px auto 10px auto;
      color: #ff0000;
      font-size: 16px; }
    .schedules .content-schedules h2 {
      padding: 25px;
      text-align: center;
      font-size: 24px; }
    .schedules .content-schedules .add-schedule.error {
      margin: 0 auto 45px auto; }
    .schedules .content-schedules .add-schedule {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 15px auto 45px auto; }
      .schedules .content-schedules .add-schedule input {
        height: 31.6px;
        border: 1px solid #415EED;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        color: #415EED;
        outline: none;
        font-size: 14px;
        padding: 0 8px; }
      .schedules .content-schedules .add-schedule .time {
        display: flex; }
        .schedules .content-schedules .add-schedule .time input[type=time] {
          margin-right: 10px; }
      .schedules .content-schedules .add-schedule input[type=text] {
        width: 100%; }
      .schedules .content-schedules .add-schedule .add-button.hide {
        display: none; }
      .schedules .content-schedules .add-schedule .add-button {
        background-color: #415EED;
        color: #fff;
        padding: 7px;
        font-size: 18px;
        border-radius: 7px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        margin-left: 10px; }
        .schedules .content-schedules .add-schedule .add-button:hover {
          background-color: #fff;
          color: #415EED; }
      .schedules .content-schedules .add-schedule .actions.hide {
        display: none; }
      .schedules .content-schedules .add-schedule .actions {
        display: flex; }
        .schedules .content-schedules .add-schedule .actions .confirm-button {
          background-color: #415EED;
          border-radius: 25px;
          padding: 7px;
          cursor: pointer;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          margin-right: 5px; }
          .schedules .content-schedules .add-schedule .actions .confirm-button .confirm-icon {
            background: url("../images/confirm-white.png");
            width: 16px;
            height: 16px;
            background-size: 16px; }
          .schedules .content-schedules .add-schedule .actions .confirm-button:hover {
            background-color: #fff; }
            .schedules .content-schedules .add-schedule .actions .confirm-button:hover .confirm-icon {
              background: url("../images/confirm.png");
              background-size: 16px; }
        .schedules .content-schedules .add-schedule .actions .cancel-button {
          background-color: #415EED;
          border-radius: 25px;
          padding: 7px;
          cursor: pointer;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
          .schedules .content-schedules .add-schedule .actions .cancel-button .cancel-icon {
            background: url("../images/cancel-white.png");
            width: 16px;
            height: 16px;
            background-size: 16px; }
          .schedules .content-schedules .add-schedule .actions .cancel-button:hover {
            background-color: #fff; }
            .schedules .content-schedules .add-schedule .actions .cancel-button:hover .cancel-icon {
              background: url("../images/cancel.png");
              background-size: 16px; }
    .schedules .content-schedules .schedule-info-content {
      width: 90%;
      margin: 0 auto 30px auto;
      padding: 7px;
      border: 1px solid #415EED;
      border-radius: 7px; }
      .schedules .content-schedules .schedule-info-content .time-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap; }
        .schedules .content-schedules .schedule-info-content .time-info p {
          margin: 10px 10px 0 0; }
    .schedules .content-schedules .schedules-list {
      height: 360px;
      overflow-y: scroll;
      word-wrap: break-word; }
      .schedules .content-schedules .schedules-list .schedule-content {
        width: 90%;
        margin: 15px auto; }
        .schedules .content-schedules .schedules-list .schedule-content .schedule-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 26px;
          margin-bottom: 10px; }
        .schedules .content-schedules .schedules-list .schedule-content .actions.hide {
          display: none; }
        .schedules .content-schedules .schedules-list .schedule-content .actions {
          display: flex; }
          .schedules .content-schedules .schedules-list .schedule-content .actions .edit-button {
            background-color: #415EED;
            border-radius: 25px;
            padding: 7px;
            cursor: pointer;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            margin-right: 5px; }
            .schedules .content-schedules .schedules-list .schedule-content .actions .edit-button .edit-icon {
              background: url("../images/pen-white.png");
              width: 12px;
              height: 12px;
              background-size: 12px; }
            .schedules .content-schedules .schedules-list .schedule-content .actions .edit-button:hover {
              background-color: #fff; }
              .schedules .content-schedules .schedules-list .schedule-content .actions .edit-button:hover .edit-icon {
                background: url("../images/pen.png");
                background-size: 12px; }
          .schedules .content-schedules .schedules-list .schedule-content .actions .remove-button {
            background-color: #415EED;
            border-radius: 25px;
            padding: 7px;
            cursor: pointer;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
            .schedules .content-schedules .schedules-list .schedule-content .actions .remove-button .remove-icon {
              background: url("../images/trash-white.png");
              width: 12px;
              height: 12px;
              background-size: 12px; }
            .schedules .content-schedules .schedules-list .schedule-content .actions .remove-button:hover {
              background-color: #fff; }
              .schedules .content-schedules .schedules-list .schedule-content .actions .remove-button:hover .remove-icon {
                background: url("../images/trash.png");
                background-size: 12px; }

@media (max-width: 850px) {
  .datepicker-dropdown {
    margin-top: 90px !important; } }

.datepicker-dropdown {
  margin-top: 130px; }
  .datepicker-dropdown tbody td {
    padding: 8px 0 0 0 !important; }

.highlight {
  background-color: #415EED !important;
  color: #fff !important; }

.datepicker-area {
  display: flex;
  justify-content: center; }
  .datepicker-area .datepicker {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center !important;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 280px;
    height: 30px; }

@media (max-width: 850px) {
  .content {
    margin-top: 70px !important; } }

@media (max-width: 1024px) {
  .notes .filter {
    top: 90px !important; }
  .notes .notes-actions {
    position: fixed;
    top: 120px !important; }
  .notes .notes-content {
    margin-top: 80px !important; }
    .notes .notes-content .note-list {
      margin-left: 60px !important; } }

@media (max-width: 767px) {
  .notes .filter {
    top: 90px !important; }
  .notes .notes-actions {
    position: fixed;
    top: 100px !important; }
  .notes .notes-content {
    margin-top: 80px !important; }
    .notes .notes-content .note-list {
      margin-left: 30px !important; } }

@media (max-height: 540px) {
  .notes .filter {
    top: 90px !important; }
  .notes .notes-actions {
    position: fixed;
    top: 100px !important; }
  .notes .notes-content {
    margin-top: 80px !important; }
    .notes .notes-content .note-list {
      margin-left: 100px !important; } }

.notes {
  color: #415EED;
  font-family: Roboto; }
  .notes .filter.hide {
    display: none; }
  .notes .filter {
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 10px 10px 0;
    background-color: #415EED;
    color: #fff;
    width: 200px;
    position: fixed;
    top: 150px;
    left: 0; }
    .notes .filter .header-filter {
      display: flex;
      justify-content: flex-end; }
      .notes .filter .header-filter .close-button {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        cursor: pointer;
        padding: 5px;
        border-radius: 25px; }
        .notes .filter .header-filter .close-button .close-icon {
          background: url("../images/close.png");
          background-size: 12px;
          width: 12px;
          height: 12px; }
    .notes .filter h4 {
      text-align: center;
      font-size: 20px; }
    .notes .filter .dropdown {
      width: 200px;
      margin: 10px 0; }
  .notes .notes-actions.hide {
    display: none; }
  .notes .notes-actions {
    position: fixed;
    top: 150px; }
    .notes .notes-actions .add-action {
      margin-bottom: 30px; }
    .notes .notes-actions .add-action.hide, .notes .notes-actions .param-action.hide {
      display: none; }
    .notes .notes-actions .add-action, .notes .notes-actions .param-action {
      background-color: #415EED;
      width: 25px;
      height: 25px;
      padding: 7px;
      border-radius: 25px;
      cursor: pointer;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      left: 5%; }
      .notes .notes-actions .add-action .icon, .notes .notes-actions .param-action .icon {
        width: 25px;
        height: 25px; }
      .notes .notes-actions .add-action .add-icon, .notes .notes-actions .param-action .add-icon {
        background: url("../images/add-white.png");
        background-size: 25px; }
      .notes .notes-actions .add-action .settings-icon, .notes .notes-actions .param-action .settings-icon {
        background: url("../images/settings-white.png");
        background-size: 25px; }
      .notes .notes-actions .add-action:hover, .notes .notes-actions .param-action:hover {
        background-color: #fff; }
        .notes .notes-actions .add-action:hover .add-icon, .notes .notes-actions .param-action:hover .add-icon {
          background: url("../images/add.png");
          background-size: 25px; }
        .notes .notes-actions .add-action:hover .settings-icon, .notes .notes-actions .param-action:hover .settings-icon {
          background: url("../images/settings.png");
          background-size: 25px; }
  .notes .notes-content {
    margin-top: 130px; }
    .notes .notes-content .empty.hide {
      display: none; }
    .notes .notes-content .empty {
      text-align: center;
      font-size: 24px;
      font-weight: bolder; }
    .notes .notes-content .add-note.hide {
      display: none; }
    .notes .notes-content .add-note {
      margin: 0 auto;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      width: 300px; }
      .notes .notes-content .add-note h3 {
        text-align: center;
        margin: 20px;
        font-size: 24px; }
      .notes .notes-content .add-note .important-field {
        display: flex;
        align-items: center; }
      .notes .notes-content .add-note .add-field input {
        color: #415EED;
        width: 98%;
        border-radius: 8px;
        border: 1px solid #415EED;
        height: 25px;
        outline: none;
        margin-bottom: 10px;
        padding: 0 3px; }
      .notes .notes-content .add-note .add-text {
        margin: 10px 0; }
        .notes .notes-content .add-note .add-text textarea {
          color: #415EED;
          outline: none;
          resize: none;
          width: 97%;
          height: 50px;
          border: 1px solid #415EED;
          padding: 3px;
          border-radius: 5px; }
      .notes .notes-content .add-note .add-buttons {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 10px 0; }
        .notes .notes-content .add-note .add-buttons .button {
          padding: 10px;
          border-radius: 10px;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          cursor: pointer; }
        .notes .notes-content .add-note .add-buttons .add {
          background-color: #415EED;
          color: #fff; }
          .notes .notes-content .add-note .add-buttons .add:hover {
            background-color: #fff;
            color: #415EED; }
        .notes .notes-content .add-note .add-buttons .cancel {
          background-color: #fff;
          color: #415EED;
          border: 1px solid #415EED; }
          .notes .notes-content .add-note .add-buttons .cancel:hover {
            background-color: #415EED;
            color: #fff;
            border: 1px solid #415EED; }
    .notes .notes-content .edit-note.hide {
      display: none; }
    .notes .notes-content .edit-note {
      margin: 0 auto;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      width: 300px; }
      .notes .notes-content .edit-note h3 {
        text-align: center;
        margin: 20px;
        font-size: 24px; }
      .notes .notes-content .edit-note .important-field {
        display: flex;
        align-items: center; }
      .notes .notes-content .edit-note .edit-field input {
        color: #415EED;
        width: 98%;
        border-radius: 8px;
        border: 1px solid #415EED;
        height: 25px;
        outline: none;
        margin-bottom: 10px;
        padding: 0 3px; }
      .notes .notes-content .edit-note .edit-text {
        margin: 10px 0; }
        .notes .notes-content .edit-note .edit-text textarea {
          color: #415EED;
          outline: none;
          resize: none;
          width: 97%;
          height: 50px;
          border: 1px solid #415EED;
          padding: 3px;
          border-radius: 5px; }
      .notes .notes-content .edit-note .edit-buttons {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 10px 0; }
        .notes .notes-content .edit-note .edit-buttons .button {
          padding: 10px;
          border-radius: 10px;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          cursor: pointer; }
        .notes .notes-content .edit-note .edit-buttons .edit {
          background-color: #415EED;
          color: #fff; }
          .notes .notes-content .edit-note .edit-buttons .edit:hover {
            background-color: #fff;
            color: #415EED; }
        .notes .notes-content .edit-note .edit-buttons .cancel {
          background-color: #fff;
          color: #415EED;
          border: 1px solid #415EED; }
          .notes .notes-content .edit-note .edit-buttons .cancel:hover {
            background-color: #415EED;
            color: #fff;
            border: 1px solid #415EED; }
    .notes .notes-content .note-list.hide {
      display: none; }
    .notes .notes-content .note-list {
      margin-left: 220px;
      display: flex;
      flex-wrap: wrap; }
      .notes .notes-content .note-list .note {
        word-wrap: break-word;
        width: 250px;
        height: 180px;
        background-color: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 10px;
        margin: 0 20px 40px 20px; }
        .notes .notes-content .note-list .note .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 26px;
          margin: 10px 0 15px 0; }
          .notes .notes-content .note-list .note .header .title {
            font-size: 20px;
            display: flex;
            align-items: center; }
            .notes .notes-content .note-list .note .header .title .important-icon {
              margin: 0 5px;
              background: url("../images/important.png");
              width: 20px;
              height: 20px;
              background-size: 20px; }
            .notes .notes-content .note-list .note .header .title .important-icon.true {
              display: block; }
            .notes .notes-content .note-list .note .header .title .important-icon.false {
              display: none; }
          .notes .notes-content .note-list .note .header .actions.hide {
            display: none; }
          .notes .notes-content .note-list .note .header .actions {
            display: flex; }
            .notes .notes-content .note-list .note .header .actions .edit-button {
              background-color: #415EED;
              border-radius: 25px;
              padding: 7px;
              cursor: pointer;
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
              margin-right: 5px; }
              .notes .notes-content .note-list .note .header .actions .edit-button .edit-icon {
                background: url("../images/pen-white.png");
                width: 12px;
                height: 12px;
                background-size: 12px; }
              .notes .notes-content .note-list .note .header .actions .edit-button:hover {
                background-color: #fff; }
                .notes .notes-content .note-list .note .header .actions .edit-button:hover .edit-icon {
                  background: url("../images/pen.png");
                  background-size: 12px; }
            .notes .notes-content .note-list .note .header .actions .remove-button {
              background-color: #415EED;
              border-radius: 25px;
              padding: 7px;
              cursor: pointer;
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
              .notes .notes-content .note-list .note .header .actions .remove-button .remove-icon {
                background: url("../images/trash-white.png");
                width: 12px;
                height: 12px;
                background-size: 12px; }
              .notes .notes-content .note-list .note .header .actions .remove-button:hover {
                background-color: #fff; }
                .notes .notes-content .note-list .note .header .actions .remove-button:hover .remove-icon {
                  background: url("../images/trash.png");
                  background-size: 12px; }
        .notes .notes-content .note-list .note .category {
          margin-bottom: 15px; }
        .notes .notes-content .note-list .note .note-text {
          height: 100px;
          overflow-y: scroll; }

@media (max-width: 1024px) {
  .targets .filter {
    top: 90px !important; }
  .targets .targets-actions {
    position: fixed;
    top: 120px !important; }
  .targets .targets-content {
    margin-top: 80px !important; }
    .targets .targets-content .targets-list {
      margin-left: 60px !important; } }

@media (max-width: 767px) {
  .targets .add-target {
    width: 250px !important; }
  .targets .edit-target {
    width: 250px !important; }
    .targets .edit-target .dropdown {
      width: 99% !important; }
  .targets .filter {
    top: 90px !important; }
  .targets .targets-actions {
    position: fixed;
    top: 100px !important; }
  .targets .targets-content {
    margin-top: 80px !important; }
    .targets .targets-content .targets-list {
      margin-left: 30px !important; } }

@media (max-height: 540px) {
  .targets .filter {
    top: 90px !important; }
  .targets .targets-actions {
    position: fixed;
    top: 100px !important; }
  .targets .targets-content {
    margin-top: 80px !important; }
    .targets .targets-content .targets-list {
      margin-left: 100px !important; } }

.targets {
  color: #415EED;
  font-family: Roboto; }
  .targets .validation {
    text-align: center;
    margin: 15px auto 10px auto;
    color: #ff0000;
    font-size: 16px; }
  .targets .filter.hide {
    display: none; }
  .targets .filter {
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 10px 10px 0;
    background-color: #415EED;
    color: #fff;
    width: 200px;
    position: fixed;
    top: 150px;
    left: 0; }
    .targets .filter .header-filter {
      display: flex;
      justify-content: flex-end; }
      .targets .filter .header-filter .close-button {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        cursor: pointer;
        padding: 5px;
        border-radius: 25px; }
        .targets .filter .header-filter .close-button .close-icon {
          background: url("../images/close.png");
          background-size: 12px;
          width: 12px;
          height: 12px; }
    .targets .filter h4 {
      text-align: center;
      font-size: 20px; }
    .targets .filter .dropdown {
      width: 200px;
      margin: 10px 0; }
  .targets .targets-actions.hide {
    display: none; }
  .targets .targets-actions {
    position: fixed;
    top: 150px; }
    .targets .targets-actions .add-action {
      margin-bottom: 30px; }
    .targets .targets-actions .add-action.hide, .targets .targets-actions .param-action.hide {
      display: none; }
    .targets .targets-actions .add-action, .targets .targets-actions .param-action {
      background-color: #415EED;
      width: 25px;
      height: 25px;
      padding: 7px;
      border-radius: 25px;
      cursor: pointer;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      left: 5%; }
      .targets .targets-actions .add-action .icon, .targets .targets-actions .param-action .icon {
        width: 25px;
        height: 25px; }
      .targets .targets-actions .add-action .add-icon, .targets .targets-actions .param-action .add-icon {
        background: url("../images/add-white.png");
        background-size: 25px; }
      .targets .targets-actions .add-action .settings-icon, .targets .targets-actions .param-action .settings-icon {
        background: url("../images/settings-white.png");
        background-size: 25px; }
      .targets .targets-actions .add-action:hover, .targets .targets-actions .param-action:hover {
        background-color: #fff; }
        .targets .targets-actions .add-action:hover .add-icon, .targets .targets-actions .param-action:hover .add-icon {
          background: url("../images/add.png");
          background-size: 25px; }
        .targets .targets-actions .add-action:hover .settings-icon, .targets .targets-actions .param-action:hover .settings-icon {
          background: url("../images/settings.png");
          background-size: 25px; }
  .targets .targets-content {
    margin-top: 130px; }
    .targets .targets-content .add-target.hide {
      display: none; }
    .targets .targets-content .add-target {
      margin: 0 auto;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      width: 300px; }
      .targets .targets-content .add-target h3 {
        text-align: center;
        font-size: 20px;
        margin: 15px 0; }
      .targets .targets-content .add-target input {
        color: #415EED;
        border-radius: 8px;
        border: 1px solid #415EED;
        height: 25px;
        outline: none;
        padding: 0 3px; }
      .targets .targets-content .add-target .title {
        margin-bottom: 7px; }
        .targets .targets-content .add-target .title input {
          width: 97%; }
      .targets .targets-content .add-target .date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 7px 0; }
      .targets .targets-content .add-target .add-buttons {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 10px 0; }
        .targets .targets-content .add-target .add-buttons .button {
          padding: 10px;
          border-radius: 10px;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          cursor: pointer; }
        .targets .targets-content .add-target .add-buttons .add {
          background-color: #415EED;
          color: #fff; }
          .targets .targets-content .add-target .add-buttons .add:hover {
            background-color: #fff;
            color: #415EED; }
        .targets .targets-content .add-target .add-buttons .cancel {
          background-color: #fff;
          color: #415EED;
          border: 1px solid #415EED; }
          .targets .targets-content .add-target .add-buttons .cancel:hover {
            background-color: #415EED;
            color: #fff;
            border: 1px solid #415EED; }
    .targets .targets-content .edit-target.hide {
      display: none; }
    .targets .targets-content .edit-target {
      margin: 0 auto;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      width: 300px; }
      .targets .targets-content .edit-target h3 {
        text-align: center;
        font-size: 20px;
        margin: 15px 0; }
      .targets .targets-content .edit-target input {
        color: #415EED;
        border-radius: 8px;
        border: 1px solid #415EED;
        height: 25px;
        outline: none;
        padding: 0 3px; }
      .targets .targets-content .edit-target .title {
        margin-bottom: 7px; }
        .targets .targets-content .edit-target .title input {
          width: 97%; }
      .targets .targets-content .edit-target .date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 7px 0; }
      .targets .targets-content .edit-target .edit-buttons {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 10px 0; }
        .targets .targets-content .edit-target .edit-buttons .button {
          padding: 10px;
          border-radius: 10px;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          cursor: pointer; }
        .targets .targets-content .edit-target .edit-buttons .confirm {
          background-color: #415EED;
          color: #fff; }
          .targets .targets-content .edit-target .edit-buttons .confirm:hover {
            background-color: #fff;
            color: #415EED; }
        .targets .targets-content .edit-target .edit-buttons .cancel {
          background-color: #fff;
          color: #415EED;
          border: 1px solid #415EED; }
          .targets .targets-content .edit-target .edit-buttons .cancel:hover {
            background-color: #415EED;
            color: #fff;
            border: 1px solid #415EED; }
    .targets .targets-content .empty.hide {
      display: none; }
    .targets .targets-content .empty {
      text-align: center;
      font-size: 24px;
      font-weight: bolder; }
    .targets .targets-content .targets-list.hide {
      display: none; }
    .targets .targets-content .targets-list {
      margin-left: 220px;
      display: flex;
      flex-wrap: wrap; }
      .targets .targets-content .targets-list .target {
        word-wrap: break-word;
        width: 320px;
        background-color: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 10px;
        margin: 0 20px 40px 20px; }
        .targets .targets-content .targets-list .target .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 26px;
          margin: 0 0 5px 0; }
          .targets .targets-content .targets-list .target .header .actions.hide {
            display: none; }
          .targets .targets-content .targets-list .target .header .actions {
            display: flex; }
            .targets .targets-content .targets-list .target .header .actions .edit-button {
              background-color: #415EED;
              border-radius: 25px;
              padding: 7px;
              cursor: pointer;
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
              margin-right: 5px; }
              .targets .targets-content .targets-list .target .header .actions .edit-button .edit-icon {
                background: url("../images/pen-white.png");
                width: 12px;
                height: 12px;
                background-size: 12px; }
              .targets .targets-content .targets-list .target .header .actions .edit-button:hover {
                background-color: #fff; }
                .targets .targets-content .targets-list .target .header .actions .edit-button:hover .edit-icon {
                  background: url("../images/pen.png");
                  background-size: 12px; }
            .targets .targets-content .targets-list .target .header .actions .remove-button {
              background-color: #415EED;
              border-radius: 25px;
              padding: 7px;
              cursor: pointer;
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
              .targets .targets-content .targets-list .target .header .actions .remove-button .remove-icon {
                background: url("../images/trash-white.png");
                width: 12px;
                height: 12px;
                background-size: 12px; }
              .targets .targets-content .targets-list .target .header .actions .remove-button:hover {
                background-color: #fff; }
                .targets .targets-content .targets-list .target .header .actions .remove-button:hover .remove-icon {
                  background: url("../images/trash.png");
                  background-size: 12px; }
      .targets .targets-content .targets-list h3 {
        margin-bottom: 7px;
        font-size: 16px;
        font-weight: bolder; }
      .targets .targets-content .targets-list h2 {
        margin-bottom: 7px; }
      .targets .targets-content .targets-list .status {
        text-align: center;
        font-size: 20px; }

.dropdown {
  color: #415EED;
  width: 300px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0 2px #cccccc;
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #415EED; }

.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  border-radius: 8px; }

.dropdown .select > i {
  font-size: 13px;
  color: #415EED;
  cursor: pointer;
  transition: all .3s ease-in-out;
  float: right;
  line-height: 20px; }

.dropdown:hover {
  box-shadow: 0 0 4px #cccccc; }

.dropdown:active {
  background-color: #f8f8f8; }

.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px #cccccc;
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8; }

.dropdown.active .select > i {
  transform: rotate(-90deg); }

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px #cccccc;
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9; }

.dropdown.active .dropdown-menu {
  display: block;
  transition: all 0.3s ease 0s; }

.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer; }

.dropdown .dropdown-menu {
  padding: 0;
  list-style: none; }

.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2; }

.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background: #E6E7EC; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 90%;
  margin: 0 auto; }

.content {
  margin-top: 100px; }

#root .loading {
  font-family: Roboto;
  color: #415EED;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 5px;
  /* ширина для вертикального скролла */
  height: 5px;
  /* высота для горизонтального скролла */
  background-color: #fff; }

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #415EED;
  border-radius: 9em; }

::-webkit-scrollbar-thumb:hover {
  background-color: #253861; }
