# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.YourHelper.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Diplome\YourHelper\.idea\.idea.YourHelper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
