$color-1: #415EED;
$color-2: #fff;
$error-color: #ff0000;
$font: Roboto;

@import 'account-media';

.login-form {
    h1 {
        color: $color-1;
        text-align: center;
        font-size: 36px;
        margin: 40px 0 50px 0;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: default;
    }

    h1.error{
        margin: 40px 0 0 0;
    }
}

.register-form {
    .back{
        margin: 10px 0 0 10px;
        width: 30px;
        height: 30px;
        border-radius: 25px;
        background: $color-1;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        i {
            border: solid $color-2;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 5px;
        }

        .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        &:hover {
            background: #ffffff;

            i {
                border: solid $color-1;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 5px;
            }
        }
    }

    h1 {
        color: $color-1;
        text-align: center;
        font-size: 36px;
        margin: 10px 0 50px 0;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: default;
    }

    h1.error{
        margin: 10px 0 0 0;
    }
}

.login-form, .register-form {
    font-family: $font;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 430px;
    background: $color-2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    .data-field {
        text-align: center;

        input {
            width: 300px;
            height: 35px;
            border: 1px solid $color-1;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            color: $color-1;
            margin-bottom: 20px;
            outline: none;
            font-size: 14px;
            padding: 0 8px;
        }

        .error{
            border: 1px solid $error-color;
        }
    }

    .link-area {
        text-align: center;

        a {
            color: $color-1;
            margin: 0 auto;
            text-decoration: none;
            text-align: center;

            &:hover {
                border-bottom: 1px solid $color-1;
            }
        }

        .recovery-link {
            font-size: 14px;
        }

        .register-link {
            font-size: 18px;
        }
    }

    .login-button, .register-button {
        text-align: center;

        input {
            width: 150px;
            height: 40px;
            background: $color-1;
            border-radius: 10px;
            margin: 35px auto;
            color: $color-2;
            outline: none;
            border: none;
            font-size: 24px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;

            &:hover {
                color: $color-1;
                background: $color-2;
            }
        }
        
    }
    
    .validation {
        text-align: center;
        margin: 24px 0;
        color: $error-color;
    }
}

.recovery-form {
    font-family: $font;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 270px;
    background: $color-2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    .back{
        margin: 10px 0 20px 10px;
        width: 30px;
        height: 30px;
        border-radius: 25px;
        background: $color-1;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        i {
            border: solid white;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 5px;
        }

        .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        &:hover {
            background: $color-2;

            i {
                border: solid $color-1;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 5px;
            }
        }
    }
    
    h1 {
        color: $color-1;
        text-align: center;
        font-size: 36px;
        margin: 10px 0 40px 0;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: default;
    }

    h1.error{
        margin: 10px 0 0 0;
    }

    .data-field {
        text-align: center;

        input {
            width: 400px;
            height: 35px;
            border: 1px solid $color-1;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            color: $color-1;
            margin-bottom: 20px;
            outline: none;
            font-size: 14px;
            padding: 0 8px;
        }

        .error{
            border: 1px solid $error-color;
        }
    }

    .recovery-button {
        text-align: center;
        
        input {
            width: 270px;
            height: 40px;
            background: $color-1;
            border-radius: 10px;
            margin: 15px auto;
            color: $color-2;
            outline: none;
            border: none;
            font-size: 24px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;

            &:hover {
                color: $color-1;
                background: $color-2;
            }
        }
    }

    .validation {
        text-align: center;
        margin: 15px 0;
        color: $error-color;
    }
}

