$font: Roboto;
$color-1: #415EED;
$color-2: #fff;

.datepicker-dropdown {
  margin-top: 130px !important;
  
  tbody{
    td{
      padding: 8px 0 0 0 !important;
    }
  }

}

.highlight {
  background-color: $color-1 !important;
  color: $color-2 !important;
}

.datepicker-area {
  display: flex;
  justify-content: center;
  
  .datepicker {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center !important;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 280px;
    height: 30px;
  }
}

@media (max-width: 850px) {
  .datepicker-dropdown {
    margin-top: 90px !important;
  }
}