@media (max-width: 850px) {
  .diary{
    .sheet{
      margin: 30px auto !important;
      width: 100% !important;
      height: 500px !important;
    }
    .datepicker-area{
      margin-top: 80px !important;
    }
    .diary-add-area {
      width: 100% !important;
    }

    .edit-info {
      width: 100% !important;
      display: flex;
      justify-content: space-between !important;
      margin: 5px auto;
    }    
    
    .info {
      width: 100% !important;
      display: flex;
      justify-content: space-between !important;
      margin: 5px auto;
    }
  }
}