@import 'diary-media';

$color-1: #415EED;
$color-2: #fff;
$error-color: #ff0000;
$font: Roboto;

.diary{
  border-radius: 10px;
  font-family: $font;
  .datepicker-area{
    justify-content: center;
    margin-top: 120px;
  }

  .data-content{
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0 auto;
    
    .diary-content{
      width: 70%;
    }
    
    .info-content{
      width: 30%;
      
      .edit-mood.hide{
        display: none;
      }

      .mood.hide{
        display: none;
      }

      .edit-well-being.hide{
        display: none;
      }

      .well-being.hide{
        display: none;
      }
      
      .well-being, .mood, .edit-mood, .edit-well-being{
        padding: 10px;
        background-color: $color-2;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: $color-1;
        margin-bottom: 50px;
        
        .choosen-smile{
          margin: 25px 0;
          display: flex;
          justify-content: center;
          .choosen-smile-icon.bad{
            background: url("../images/bad.png");
            width: 50px;
            height: 50px;
            background-size: 50px;
            cursor: pointer;

            &:hover{
              background: url("../images/bad.png");
              width: 60px;
              height: 60px;
              background-size: 60px;
              transition: all 0.7s ease 0s;
            }
          }

          .choosen-smile-icon.neutral{
            background: url("../images/neutral.png");
            width: 50px;
            height: 50px;
            background-size: 50px;
            cursor: pointer;

            &:hover{
              background: url("../images/neutral.png");
              width: 60px;
              height: 60px;
              background-size: 60px;
              transition: all 0.7s ease 0s;
            }
          }

          .choosen-smile-icon.good{
            background: url("../images/good.png");
            width: 50px;
            height: 50px;
            background-size: 50px;
            cursor: pointer;

            &:hover{
              background: url("../images/good.png");
              width: 60px;
              height: 60px;
              background-size: 60px;
              transition: all 0.7s ease 0s;
            }
          }
        }
        
        .smiles{
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 25px 0;
          .bad{
            .bad-smile-icon{
              background: url("../images/bad.png");
              width: 50px;
              height: 50px;
              background-size: 50px;
              cursor: pointer;
              
              &:hover{
                background: url("../images/bad.png");
                width: 60px;
                height: 60px;
                background-size: 60px;
                transition: all 0.7s ease 0s;
              }
            }
          }

          .neutral{
            .neutral-smile-icon{
              background: url("../images/neutral.png");
              width: 50px;
              height: 50px;
              background-size: 50px;
              cursor: pointer;

              &:hover{
                background: url("../images/neutral.png");
                width: 60px;
                height: 60px;
                background-size: 60px;
                transition: all 0.7s ease 0s;
              }
            }
          }

          .good{
            .good-smile-icon{
              background: url("../images/good.png");
              width: 50px;
              height:50px;
              background-size: 50px;
              cursor: pointer;

              &:hover{
                background: url("../images/good.png");
                width: 60px;
                height: 60px;
                background-size: 60px;
                transition: all 0.7s ease 0s;
              }
            }
          }
        }
        
        
        h3{
          text-align: center;
          font-size: 20px;
          font-weight: bolder;
          margin: 20px 0;
        }
        
        p{
          text-align: center;
          font-size: 18px;
          margin: 20px 0;
        }
      }
    }
  }
  
  .info{
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: $error-color;
    margin: 15px auto 0 auto;

    .cancel {
      cursor: pointer;
      color: $color-1;
      &:hover {
        border-bottom: 1px solid $color-1;
      }
    }
  }

  .info.hide {
    display: none;
  }
  
  .edit-info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0 auto;
    color: $color-1;
    
    .cancel {
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid $color-1;
      }
    }
  }

  .edit-info.hide {
    display: none;
  }
  
  .sheet{
    margin: 0 auto;
    width: 80%;
    height: 60vh;
    background-color: $color-2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0 0 10px;
    overflow-y: scroll;
    word-wrap: break-word;
    color: $color-1;
    font-size: 20px;
      
      .empty{
        text-align: center;
        margin: 30px;
      }

      .entry.active{


        border-radius: 10px;
        .entry-head{
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .actions {
            display: flex;
          }
        }
      }
      
    .entry{
      margin: 25px 20px 20px 20px;
      padding: 5px;
      line-height: 1.2;
      text-align: justify;
      .entry-head{
        display: flex;
        margin-bottom: 20px;
        height: 29px;
        font-weight: bolder;
        justify-content: start;
        align-items: center;
        
        .actions{
          display: none;

          .voice-button {
            background-color: $color-1;
            border-radius: 25px;
            padding: 7px;
            cursor: pointer;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            margin-right: 5px;

            .voice-icon {
              background: url("../images/voice-white.png");
              width: 12px;
              height: 12px;
              background-size: 12px;
            }

            &:hover {
              background-color: $color-2;

              .voice-icon {
                background: url("../images/voice.png");
                background-size: 12px;
              }
            }
          }

          .button{
            background-color: $color-1;
            border-radius: 25px;
            padding: 7px;
            cursor: pointer;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            
            .edit-icon{
              background: url("../images/pen-white.png");
              width: 12px;
              height: 12px;
              background-size: 12px;
            }
            
            .delete-icon{
              width: 12px;
              height: 12px;
              background: url("../images/trash-white.png");
              background-size: 12px;
            }
            
            &:hover {
              background-color: $color-2;
              .edit-icon{
                background: url("../images/pen.png");
                background-size: 12px;
              }
              .delete-icon{
                background: url("../images/trash.png");
                background-size: 12px;
              }
            }
          }
          
          .edit {
            margin-right: 5px;
          }
        }
      }
    }
  }
  
  .diary-add-area {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto 0 auto;

    .text{
      width: 100%;
      font-size: 14px;
      color: $color-1;
      padding: 8px;
      border-radius: 10px;
      border-color: $color-1;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      outline: none;
      resize: none;
    }
    
    .add-obj-button {
      background-color: $color-2;
      border-radius: 10px;
      margin: 0 5px;
      cursor: pointer;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      padding: 10px;

      .file-icon {
        width: 30px;
        height: 30px;
        background-size: 30px !important;
        background: url("../images/img.png");
      }

      &:hover {
        background-color: $color-1;

        .file-icon {
          background: url("../images/img-white.png");
        }
      }
    }
    
    .send-button {
      background-color: $color-2;
      border-radius: 10px;
      margin: 0 5px;
      cursor: pointer;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      padding: 10px;

      .send-icon {
        width: 30px;
        height: 30px;
        background-size: 30px !important;
        background: url("../images/send.png");
      }

      &:hover {
        background-color: $color-1;

        .send-icon {
          background: url("../images/send-white.png");
        }
      }
    }
  }
}
