@import 'account';
@import 'menu';
@import 'notification';
@import 'profile_menu';
@import 'settings';
@import 'diary';
@import 'datepicker';
@import 'index-media';
@import '../lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css';
@import '../lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css';
@import '../lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: #E6E7EC;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.content {
  margin-top: 100px;
}


/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  height: 5px; /* высота для горизонтального скролла */
  background-color: $color-2;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: $color-1;
  border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

