@import 'menu-media';

$color-1: #415EED;
$color-2: #fff;
$error-color: #ff0000;
$font: Roboto;

.content{
  margin-top: 100px;
}

#head-menu{
  font-family: $font;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }
  
  .header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    
    .header_profile {
      cursor: pointer;
      z-index: 3;
      border-radius: 10px;
      padding: 15px;
      background-color: $color-1;
      color: $color-2;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 20px ;
      
      &:hover{
        background-color: $color-2;
        color: $color-1;
      }
    }
    
    .search {
      z-index: 3;
      width: 50%;
      display: flex;
      justify-content: center;
      input {
        color: $color-1;
        border-radius: 10px 0 0 10px;
        border: 1px solid $color-1;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        height: 36px;
        width: 60%;
        max-width: 300px;
        outline: none;
        padding-left: 5px;
      }
      button {
        background-color: $color-1;
        color: $color-2;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius:  0 10px 10px 0;
        border: 1px solid $color-1;
        height: 40px;
        width: 40px;
        outline: none;
        cursor: pointer;
      }
    }

    .header_burger_menu{
      .header_menu{
        .header_list{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 750px;
          font-size: 26px;
          position: relative;
          z-index: 3;
          
          a{
            text-decoration: none;
            color: $color-1;

            &:hover{
              border-bottom: 3px solid $color-1;
            }
          }
          
          .current{
            border-bottom: 3px solid $color-1;
          }
          
          .general-ref{
            display: none;
          }
          
          .hide{
            display: none !important;
          }
          
          .logo{
            margin-right: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            a{
              &:hover{
                border-bottom: none;
              }
            }
            
            img {
              width: 50px;
              height: 50px;
            }
            
            &:hover{
              img {
                width: 60px;
                height: 60px;
                transition: all 0.7s ease 0s;
              }
            }
          }
        }
      }
    }
  }
}
