@media (max-width: 1024px) {
  .notes{

    .filter {
      top: 90px !important;
    }
    .notes-actions{
      position: fixed;
      top: 120px !important;
    }
    .notes-content{
      margin-top: 80px !important;

      .note-list{
        margin-left: 60px !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .notes{
    .filter {
      top: 90px !important;
    }
    .notes-actions{
      position: fixed;
      top: 100px !important;
    }
    .notes-content{
      margin-top: 80px !important;

      .note-list{
        margin-left: 60px !important;
        
        .note{
          width: 222px !important;
          margin: 0 10px 20px 10px !important;

          .title{
            font-size: 16px !important;
          }

          .category, .note-text{
            font-size: 13px !important;
          }

          .important-icon{
            width: 16px !important;
            height: 16px !important;
            background-size: 16px !important;
          }

          .actions.hide {
            display: flex !important;
          }
        }
        
      }
    }
  }
}

@media (max-width: 280px){
  .notes{
    .filter {
      top: 90px !important;
    }
    .notes-actions{
      position: fixed;
      top: 100px !important;
    }
    .notes-content{
      margin-top: 80px !important;

      .note-list{
        margin-left: 30px !important; 
        
        .note{
          margin: 20px 0 0 20px  !important;
          width: 190px !important;
          
          .title{
            max-width: 90px !important;
            word-wrap: break-word;
            p{
              max-width: 60px !important;
              word-wrap: break-word;
            }
            flex-wrap: wrap;
          }
          
          .category{
            margin-top: 25px;
          }
          
        }

        .actions.hide {
          display: flex !important;
        }
      }
    }
  }
}

@media (max-height: 540px) {
  .notes{

    .filter {
      top: 90px !important;
    }
    .notes-actions{
      position: fixed;
      top: 100px !important;
    }
    .notes-content{
      margin-top: 80px !important;

      .note-list{
        margin-left: 100px !important;

        .actions.hide {
          display: flex !important;
        }
      }
    }
  }
}