$font: Roboto;
$color-1: #415EED;
$color-2: #fff;

.notification.active{
  right: 5%;
  transition: all 0.3s ease 0s;
}

.notification {
  font-family: $font;
  position: fixed;
  width: auto;
  top: 100px;
  right: -1000%;
  z-index: 20;
  color: $color-1;
  font-size: 20px;


  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $color-2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    border-radius: 10px;

  }
  
  .notification_content{
    position: relative;
    z-index: 3;
    width: 200px;
    padding: 10px;
    word-wrap: break-word;
    .body{
      font-size: 16px;
    }
    
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 26px;
      margin-bottom: 15px;
      
      .close {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-1;
        border-radius: 25px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        
        h4 {
          color: $color-2;
          padding: 5px;
          height: 17px;
          width: 17px;
          font-size: 20px;
        }
        
        &:hover {
          background-color: $color-2;
          h4 {
            color: $color-1;
          }
        }
      }
    }
  }
}