$color-1: #415EED;
$color-2: #fff;
$error-color: #ff0000;
$font: Roboto;

@media (max-width: 900px) {
  .datepicker-area{
    margin-top: 80px !important;
  }

  .schedules-content{
    flex-direction: column !important;

    .schedules-data{
      width: 97% !important;
      height: 65vw !important;

      .schedules-list{
        height: 55vw !important;
        .schedule-header{
          .actions.hide{
            display: flex !important;
          }
        }
      }
    }

    .other-information{
      margin-top: 20px;
      width: 100% !important;

      h3{
        font-size: 16px !important;
      }

      h5{
        font-size: 20px !important;
      }

      .text{
        p{
          font-size: 16px !important;
        }
      }

      .doughnut{
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 550px) {

  .datepicker-area{
    margin-top: 80px !important;
  }
  
  .schedules-content{
    flex-direction: column !important;

    .schedules-data{
      width: 95% !important;
      height: 65vh !important;

      .schedules-list{
        height: 55vh !important;
        .schedule-header{
          .actions.hide{
            display: flex !important;
          }
        }
      }
    }

    .other-information{
      margin-top: 20px;
      width: 100% !important;
      
      h3{
        font-size: 16px !important;
      }

      h5{
        font-size: 20px !important;
      }
      
      .text{
        p{
          font-size: 16px !important;
        }
      }
      
      .doughnut{
        margin-bottom: 20px;
      }
    }
  }
}