$color-1: #415EED;
$color-2: #fff;
$error-color: #ff0000;
$font: Roboto;

@import "schedule-media";

.schedules {
  color: $color-1;
  font-family: $font;

  .validation {
    text-align: center;
    margin: 15px auto 10px auto;
    color: $error-color;
    font-size: 16px;
  }
  
  .hide{
    display: none !important;
  }

  .datepicker-area{
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 50px;
  }

  .add-schedule{
    margin: 140px auto;
    padding: 15px 15px;
    background-color: $color-2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 250px;
    
    h2{
      text-align: center;
      font-size: 24px;
      margin: 0 0 30px 0;
    }
    
    .time-add-field{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      
      input{
        color: $color-1;
        border-radius: 8px;
        border: 1px solid $color-1;
        height: 25px;
        outline: none;
        padding: 0 3px;
      }
      margin-bottom: 15px;
    }
    
    .add-field{
      input{
        color: $color-1;
        width: 98%;
        border-radius: 8px;
        border: 1px solid $color-1;
        height: 25px;
        outline: none;
        margin-bottom: 10px;
        padding: 0 3px;
      }
    }

    .add-buttons{
      display: flex;
      justify-content: space-between;
      margin: 20px 0 10px 0;

      .button{
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      .add{
        background-color: $color-1;
        color: $color-2;

        &:hover {
          background-color: $color-2;
          color: $color-1;
        }
      }

      .cancel{
        background-color: $color-2;
        color: $color-1;
        border: 1px solid $color-1;

        &:hover {
          background-color: $color-1;
          color: $color-2;
          border: 1px solid $color-1;
        }
      }

    }
  }

  .edit-schedule{
    margin: 140px auto;
    padding: 15px 15px;
    background-color: $color-2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 250px;

    h2{
      text-align: center;
      font-size: 24px;
      margin: 0 0 30px 0;
    }

    .time-edit-field{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;

      input{
        color: $color-1;
        border-radius: 8px;
        border: 1px solid $color-1;
        height: 25px;
        outline: none;
        padding: 0 3px;
      }
      margin-bottom: 15px;
    }

    .edit-field{
      input{
        color: $color-1;
        width: 98%;
        border-radius: 8px;
        border: 1px solid $color-1;
        height: 25px;
        outline: none;
        margin-bottom: 10px;
        padding: 0 3px;
      }
    }

    .edit-buttons{
      display: flex;
      justify-content: space-between;
      margin: 20px 0 10px 0;

      .button{
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }

      .edit{
        background-color: $color-1;
        color: $color-2;

        &:hover {
          background-color: $color-2;
          color: $color-1;
        }
      }

      .cancel{
        background-color: $color-2;
        color: $color-1;
        border: 1px solid $color-1;

        &:hover {
          background-color: $color-1;
          color: $color-2;
          border: 1px solid $color-1;
        }
      }

    }
  }
  
  .schedules-content{
    display: flex;
    justify-content: space-between;
    
    .schedules-data{
      width: 50%;
      height: 65vh;
      background-color: $color-2;
      padding: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      
      h3{
        text-align: center;
        font-size: 28px;
        font-weight: bolder;
        margin-bottom: 30px;
        margin-top: 10px;
      }
      .schedules-list{
        height: 55vh;
        overflow-y: scroll;
        word-wrap: break-word;

        .empty{
          margin-top: 25vh;
          font-size: 18px;
        }
        
        .schedule-content {
          padding-right: 7px;
          p{
            font-size: 18px;
          }
          
          .schedule-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 26px;
            margin-bottom: 10px;
            
            p{
              font-size: 18px;
              font-weight: bolder;
            }
          }

          .actions.hide{
            display: none;
          }

          .actions {
            display: flex;

            .voice-button {
              background-color: $color-1;
              border-radius: 25px;
              padding: 7px;
              cursor: pointer;
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
              margin-right: 5px;

              .voice-icon {
                background: url("../images/voice-white.png");
                width: 12px;
                height: 12px;
                background-size: 12px;
              }

              &:hover {
                background-color: $color-2;

                .voice-icon {
                  background: url("../images/voice.png");
                  background-size: 12px;
                }
              }
            }

            .edit-button {
              background-color: $color-1;
              border-radius: 25px;
              padding: 7px;
              cursor: pointer;
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
              margin-right: 5px;

              .edit-icon {
                background: url("../images/pen-white.png");
                width: 12px;
                height: 12px;
                background-size: 12px;
              }

              &:hover {
                background-color: $color-2;

                .edit-icon {
                  background: url("../images/pen.png");
                  background-size: 12px;
                }
              }
            }

            .remove-button {
              background-color: $color-1;
              border-radius: 25px;
              padding: 7px;
              cursor: pointer;
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

              .remove-icon {
                background: url("../images/trash-white.png");
                width: 12px;
                height: 12px;
                background-size: 12px;
              }

              &:hover {
                background-color: $color-2;

                .remove-icon {
                  background: url("../images/trash.png");
                  background-size: 12px;
                }
              }
            }

          }

        }
      }
    }

    .other-information{
      width: 45%;
      .schedule-info-content{
        background-color: $color-2;
        padding: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        .times{
          border-right: 1px solid $color-1;
          width: 47%;
          padding: 0 10px;

          h3{
            margin-bottom: 10px;
            font-size: 20px;
          }
          
          .time-info{
            height: 100px;
            overflow-y: scroll;
            word-wrap: break-word;
            padding-right: 10px;
            
            h4{
              margin-top: 40px;
              text-align: center;
              font-size: 18px;
            }

            p{
              margin-bottom: 5px;
              padding: 5px;
              cursor: pointer;
              
              &:hover{
                background-color: $color-1;
                color: $color-2;
              }
            }
          }
        }

        .text{
          width: 40%;
          padding: 0 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          p{
            font-size: 20px;
            text-align: center;
          }
        }
      }
      
      h5{
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
        margin-top: 20px;
      }
      
      .doughnut{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        
        canvas{
          width: 320px;
          height: 320px; 
        }
      }
    }
  }
  
}