
@media (max-width: 767px) {
  .statistic{
    .period{
      width: 80% !important;
      display: block !important;

      .title{
        text-align: center;
        margin: 20px auto;
        font-size: 20px;
      }

      .date-area{
        justify-content: space-around !important;
        margin-bottom: 10px;
      }
    }

    .statistic-data{
      display: block !important;
    }

    .statistic-list{
      width: 85% !important;
      margin: 20px auto !important;
      
      .block{
        width: 85% !important;
      }
    }
  }
}

@media (max-height: 540px) {
  .statistic{
    .statistic-data{
      display: block !important;
    }
    .period{
      width: 80% !important;
    }

    .statistic-list{
      width: 85% !important;
      margin: 20px auto !important;
    }
  }
}

@media (max-width: 900px) {
  .statistic{
    .statistic-data{
      display: block !important;
    }
    .period{
      width: 80% !important;
    }

    .statistic-list{
      width: 85% !important;
      margin: 20px auto !important;
    }
  }
}